repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: check-merge-conflict
    - id: detect-aws-credentials
    - id: detect-private-key
    - id: mixed-line-ending
    