/****************************************************************
/* BOOTSTRAP TWEAKS
****************************************************************/
/*--------------------------------------------------------------*
 * Fixing top navigation bar
 *--------------------------------------------------------------*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*--------------------------------------------------------------*
 * Sticky footer styles
 *--------------------------------------------------------------*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -20px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #ffdd00;  /* UCSF color: Pantone */
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*--------------------------------------------------------------*
 * Tables
 *--------------------------------------------------------------*/
table {
    margin: auto;
/*
    min-width: 60%;
    max-width: 100%;
*/
}
tr {
    vertical-align: top;
}    
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
/*    background-color: #5bc0de; */
    color: #000;
    border-bottom: 2px solid #000;
}
th, td {
    padding: 0.5ex;
}
dt {
  margin-left: 0.5ex;
}
dt:after { content: ":" }
dd {
  margin-left: 2.5ex;
}


/*--------------------------------------------------------------*
 * Custom page CSS
 *--------------------------------------------------------------*/
/*
.container {
  width: auto;
  max-width: 680px;
}
*/
.container .credit {
  margin: 20px 0;
}

h1 { margin-top: 0px; }

a:hover, a:focus {
  font-weight: normal;
}

code {
  background: rgb(245, 245, 245); /* Fallback if rgba() is missing */
  background: rgba(245, 245, 245, .5);
}

.printonly {
  display: none;
}

/* NOTE: Control visibility in dynamics.css */
.broadcast {
  margin-left: 0.3ex;
  font-weight: bold;
  color: orange;
  visibility: hidden;
}

.timestamp {
  color: #666666;
}

/*--------------------------------------------------------------*
 * Custom print layout
 *--------------------------------------------------------------*/
@media print { 
  a, a:after { content: normal !important; }

  #sublogocontainer {
    display: none;
  }

  #filler {
    display: none;
  }

  #push {
    display: none;
  }

  body {
    height: auto;
  }

  .btn {
    display: none;
  }

  #wrap {
    position: relative;
    top: -100px;
  }

  #footer {
    position: relative;
    top: -20px;
    border-top: 1px solid black;
  }

  h1.printonly {
    margin-bottom: 2ex;
    display: block;
    padding-bottom: 0.1ex;
    border-bottom: 1px solid black;
  }

  span.printonly {
    display: inline;
  }
} /* @media print */
