on: [push, pull_request]

name: Odds and Ends

jobs:
  ShellCheck:
    runs-on: ubuntu-18.04
    name: Odds and Ends
    if: "! contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - name: Checkout git repository
      uses: actions/checkout@v2

    - name: usernames
      run: |
        make check-usernames

    - name: here-links
      run: |
        make check-here-links

